// width breakpoints
$max-xs-width: 599px;
$max-sm-width: 1023px;
$max-md-width: 1439px;
$max-lg-width: 1919px;

// paddings
$xl-horizontal-padding: 192px;
$lg-horizontal-padding: 96px;
$md-horizontal-padding: 24px;
$sm-horizontal-padding: 24px;
$xs-horizontal-padding: 16px;

$vertical-padding: 24px;
$xs-vertical-padding: 16px;

$header-height: 70px;
