<ng-container *transloco="let t; read: 'recipe-finder.ingredient-identification'">
  <div *ngIf="!isLoading">
    <p-fileUpload accept="image/*" [customUpload]="true" [multiple]="true"
      (uploadHandler)="identifyIngredients($event.files)" [showCancelButton]="false">
    </p-fileUpload>
    <div *ngIf="identifiedIngredients !== undefined">
      <div *ngIf="identifiedIngredients.length === 0">
        {{ t('no-ingredients-found-msg')}}
      </div>
      <div *ngIf="identifiedIngredients.length > 0">
        <span *ngFor="let i of identifiedIngredients; last as isLast">
          {{ i }} {{ isLast ? '' : ', ' }}
        </span>
      </div>
    </div>
  </div>
  <div *ngIf="isLoading">
    <app-loading-spinner></app-loading-spinner>
  </div>
</ng-container>
