@import '~primeicons/primeicons.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeng/resources/themes/vela-blue/theme.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
}

p {
  margin: 0px;
}
