@import "~ng-zorro-antd/ng-zorro-antd.less";
@import "./styles/_variables.less";

.ant-btn + .ant-btn {
  margin-left: @xs-horizontal-padding;
}

.ingredient-image-upload .ant-upload.ant-upload-select {
  display: block;
}

.ingredient-image-upload .ant-upload-list-item {
  width: 200px;
  float: left;
  margin-right: @xs-horizontal-padding;
}

.ingredient-selection .ant-checkbox-wrapper {
  text-transform: capitalize;
}
