@import './../../../../styles/colors.less';

.message {
    margin: 4px 0;
}

.input {
    &:extend(.message);
    background-color: @lilac-6;
    margin-left: auto;
    margin-right: 0;
}

.output {
    &:extend(.message);
    background-color: @lilac-1;
}

.ant-card-meta {
    margin-top: 4px;
}