@import "src/styles/variables";

.instruction-step {
  width: 12rem;
  height: 16rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: $max-sm-width) {
    width: 100%;
    height: 8rem;
  }

  .description {
    flex: 1;
  }
}
