<ng-container *transloco="let t; read: 'rf.suggestions'">
  <div *ngIf="!suggestionResult && isLoading">
    <ng-container *ngTemplateOutlet="loading"></ng-container>
  </div>
  <ng-container *ngIf="suggestionResult && !isLoading">
    <div class="message-bar" *ngIf="suggestionResult.totalCount === 0">
      <span class="message">
        {{ t('messages.recipes-not-found') }}
      </span>
      <ng-container [ngTemplateOutlet]="actionButtons"></ng-container>
    </div>
    <div *ngIf="suggestionResult.totalCount > 0">
      <div class="message-bar">
        <span class="message">
          {{ t('messages.recipes-found', { itemCount: suggestionResult.totalCount }) }}
        </span>
        <ng-container [ngTemplateOutlet]="actionButtons"></ng-container>
      </div>
      <nz-pagination *ngIf="suggestionResult.totalCount > suggestionResult.items.length" [nzPageSize]="pageSize"
        [nzDisabled]="isLoading" [nzTotal]="suggestionResult.totalCount" (nzPageIndexChange)="findRecipes($event)">
      </nz-pagination>
      <div *ngIf="isLoading">
        <ng-container *ngTemplateOutlet="loading"></ng-container>
      </div>
      <div class="recipes-container">
        <nz-card #card class="recipe-card no-select" *ngFor="let recipe of suggestionResult.items"
          [nzTitle]="recipe.name" [nzExtra]="openRecipe">
          <p nz-typography nzEllipsis [nzContent]="recipe.description" [nzEllipsisRows]="4"></p>
          <ng-template #openRecipe>
            <button nz-button nzType="text" (click)="openUrl(recipe.url)">
              <i nz-icon nzType="select"></i>
            </button>
          </ng-template>
        </nz-card>
      </div>
    </div>
  </ng-container>
  <div class="centered-container" *ngIf="!suggestionResult && !isLoading">
    <span class="info-message"> {{ t('messages.error') }}</span>
    <button nz-button nzType="primary" [routerLink]="['/find']">
      {{ t('manage-preferences-button-label') }}
    </button>
  </div>
  <ng-template #loading>
    <div class="centered-container">
      <app-loading-spinner size="large"></app-loading-spinner>
      <span nz-typography>{{ t('messages.searching-recipes') }}</span>
    </div>
  </ng-template>
</ng-container>
