@import "src/styles/variables";

:host {
  display: block;
}

.content-container {
  max-width: 1168px;
  margin: auto;
  padding: $md-vertical-padding $xl-horizontal-padding;

  @media (max-width: $max-lg-width) {
    padding: $md-vertical-padding $lg-horizontal-padding;
  }

  @media (max-width: $max-md-width) {
    max-width: 896px;
    padding: $md-vertical-padding $md-horizontal-padding;
  }

  @media (max-width: $max-xs-width) {
    padding: $xs-horizontal-padding $sm-horizontal-padding;
  }
}
