@import "src/styles/variables";

:host {
  display: block;
}

.content-container {
  height: 100%;
  padding: $md-vertical-padding $xl-horizontal-padding;

  @media (max-width: $max-lg-width) {
    padding: $md-vertical-padding $lg-horizontal-padding;
  }

  @media (max-width: $max-md-width) {
    padding: $md-vertical-padding $md-horizontal-padding;
  }

  @media (max-width: $max-xs-width) {
    padding: $sm-vertical-padding $xs-horizontal-padding;
  }
}
