@import "src/styles/variables";

.step-container {
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: $max-sm-width) {
    flex-direction: column;
  }

  app-instruction-step:not(:last-of-type) {
    margin-right: 3rem;

    @media screen and (max-width: $max-sm-width) {
      margin-right: 0;
      margin-bottom: 3rem;
    }
  }
}
