@import "src/styles/variables";

:host {
  display: block;
}

.header {
  display: flex;
  align-items: center;
  top: 0px;
  height: $header-height;
  min-height: $header-height;
  padding: 0px $xl-horizontal-padding;

  @media (max-width: $max-lg-width) {
    padding: 0px $lg-horizontal-padding;
  }

  @media (max-width: $max-md-width) {
    padding: 0px $md-horizontal-padding;
  }

  @media (max-width: $max-xs-width) {
    padding: 0px $xs-horizontal-padding;
  }

  .title {
    margin-right: auto;
  }
}
