@import "src/styles/variables";

:host {
  display: block;
}

nz-header {
  padding: 0;
}

.header-content {
  display: flex;
  align-items: center;

  height: 100%;
  max-width: @max-lg-content-width;
  margin: auto;
  padding: 0 @lg-horizontal-padding;

  @media (max-width: @max-md-width) {
    max-width: @max-md-content-width;
    padding: 0 @md-horizontal-padding;
  }

  @media (max-width: @max-xs-width) {
    padding: 0 @sm-horizontal-padding;
  }

  a {
    height: 100%;

    img {
      height: 100%;
    }
  }

  a:not(:last-of-type) {
    margin-right: @sm-horizontal-padding;
  }

  .title {
    margin-right: auto;
  }
}
