<ng-container *transloco="let t; read: 'rf.ingredients'">
  <div *ngIf="!isLoading">
    <div *transloco="let t; read: 'component-labels'">
      <nz-upload [(nzFileList)]="imageFiles" [nzBeforeUpload]="beforeUpload" nzAccept="image/*" nzListType="picture">
        <button nz-button><i nz-icon nzType="upload"></i>{{ t('choose') }}</button>
      </nz-upload>
      <button nz-button nzType="primary" [nzLoading]="isLoading" (click)="identifyIngredients()"
        [disabled]="imageFiles.length == 0">
        {{ isLoading ? t('is-loading') : t('upload') }}
      </button>
    </div>
    <ng-container>
      <div *ngIf="ingredients !== undefined">
        <div *ngIf="ingredients.length === 0">
          {{ t('messages.no-ingredients-found')}}
        </div>
        <div *ngIf="ingredients.length > 0">
          <div>{{ t('messages.uncheck-unwanted-ingredients') }}</div>
          <nz-checkbox-group [ngModel]="ingredients" (ngModelChange)="updateIngredients($event)">
          </nz-checkbox-group>
        </div>
      </div>
    </ng-container>
  </div>
  <div *ngIf="isLoading">
    <app-loading-spinner></app-loading-spinner>
  </div>
</ng-container>
