<ng-container *transloco="let t; read: 'rf.ingredients'">
  <h2> {{ t('heading') }}</h2>
  <div *ngIf="!isLoading">
    <ng-container *transloco="let t; read: 'component-labels'">
      <p-fileUpload accept="image/*" [customUpload]="true" [multiple]="true"
        (uploadHandler)="identifyIngredients($event.files)" [showCancelButton]="false" [chooseLabel]="t('choose')"
        [uploadLabel]="t('upload')">
      </p-fileUpload>
    </ng-container>
    <ng-container>
      <div *ngIf="identifiedIngredients !== undefined">
        <div *ngIf="identifiedIngredients.length === 0">
          {{ t('messages.no-ingredients-found')}}
        </div>
        <div *ngIf="identifiedIngredients.length > 0">
          {{ t('messages.uncheck-unwanted-ingredients') }}
          <app-ingredient-selection [ingredients]="identifiedIngredients" (selectionChange)="updateSelection($event)">
          </app-ingredient-selection>
        </div>
      </div>
    </ng-container>
  </div>
  <div *ngIf="isLoading">
    <app-loading-spinner></app-loading-spinner>
  </div>
</ng-container>
