@import "src/styles/variables";

:host {
  display: block;
}

.stepper {
  height: 100%;
  display: flex;
  flex-direction: row;

  @media screen and (max-width: $max-sm-width) {
    flex-direction: column;
  }

  .steps-container {
    flex: 1;
    margin: 0;

    @media screen and (max-width: $max-sm-width) {
      flex: unset;
      margin-bottom: $md-vertical-padding;
    }
  }

  .step-content-container {
    flex: 3;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: $max-sm-width) {
      flex: 1;
    }

    .step-content {
      flex: 1;
    }

    .stepper-button-bar {
      margin-bottom: $md-vertical-padding;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
}
